/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* begin to-do styles */
body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #161617;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #23232A;
    padding-top: 100px;
}

.notepad {
    width: 850px;
    min-height: 500px;
    background-color: #FCFCFC;
    border: 2px solid #d8d8d8; /* #3185FC #FF6E51 */
    border-radius: 8px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px repeat(3, 1fr);
    grid-template-areas:
        "header header header"
        "notes body body"
        "notes body body"
        "notes body body";
}

.notepad__header {
    grid-area: header;
    border-bottom: 1px solid #23232A;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 8px;
}

.notepad__header__title {
    font-size: 24px;
    text-transform: uppercase;
}

.notepad__header__controls {
    /* align-self: flex-end; */
}

.notepad__header__controls button {
    border-radius: 50%;
    color: #fcfcfc;
    background-color: #3185FC;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;
    width: 40px;
    height: 40px;
}

button + button {
    margin-left: 16px;
}

.notepad__notes {
    grid-area: notes;
}

.notepad__categories {
    width: 100%;
    height: 48px;
    padding: 16px 0;
    text-align: center;
    line-height: 1;
    border-bottom: 1px solid #23232A;
    position: relative;
    cursor: pointer;
}

.notepad__categories::after {
    content: '▼';
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    transition: .15s ease-in;
}

.notepad__categories--expanded::after {
    transform: translateY(-50%) rotate(180deg);
}

.notepad__categories ul {
    display: none;
    opacity: 0;
    transition: .2s ease-out;
    list-style: none;
    width: 100%;
    text-align: left;
    padding-left: 0;
    background-color: #f2f2f2;
    z-index: 2;
}

.notepad__categories.notepad__categories--expanded ul {
    display: block;
    opacity: 1;
}

.notepad__categories__list li {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #23232A;
}

.notepad__notes__list {
    list-style: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.notepad__notes__list li {
    width: 100%;
    padding: 8px 12px;
}

.notepad__notes__list label {
    padding-left: 8px;
}

.notepad__notes__list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.notepad__notes__list li:nth-child(2n + 1) {
    background-color:#f2f2f2;
}

.notepad__body {
    grid-area: body;
    border-left: 1px solid #23232A;
}

.notepad__body__new-note {
    /* display: none; */
    padding: 16px;
}

.notepad__body__note {
    padding: 16px;
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.share-row {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.share-row > div {
    flex-grow: 1;
}

.share-row > div label {
    display: block;
}

.share-row > div :last-child {
    width: 100%;
    min-height: 42px;
}

input,
select,
textarea {
    padding: 6px 12px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
}

input:focus-within,
select:focus,
textarea:focus-within {
    border-color: #23232A;
}

textarea {
    resize: none;
}

form button {
    width: 100%;
    padding: 6px;
    background-color: white;
    color: #FF6E51;
    border: 2px solid #FF6E51;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .2s ease;
}

form button:hover {
    color: white;
    background-color: #FF6E51;
}